<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascript/util.js'></script>
    <style>
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
      }

      .container {
        margin-top: 64px; /* Adjust this value based on the navbar height */
      }

      #sidebar {
        margin-top: 64px; /* Adjust this value based on the navbar height */
      }
    </style>
  </head>
  <body style="background-image: url('/images/background.svg'); background-size: cover; background-repeat: no-repeat;">
    <nav style="background-color: #D2D8FF;" class="py-4 px-6 navbar">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <button id="burgerMenuButton" class="text-gray-600 focus:outline-none focus:text-gray-800" onclick="toggleSidebar()">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path
                d="M4 6h16M4 12h16M4 18h16"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <h1 class="text-xl font-bold text-violet-300 ml-2">{{title}}</h1>
        </div>

        <button id="logoutNavButton" class="bg-rose-400 hover:bg-rose-500 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="logout()">Logout</button>
        <a id="loginNavButton" href="/auth/login" class="bg-violet-400 hover:bg-violet-500 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</a>

      </div>
    </nav>
    <div id="sidebar" class="bg-white w-64 h-screen fixed top-0 left-0 transform -translate-x-full transition-transform duration-300 ease-in-out">
      <ul class="mt-8">
        <li><a href="/tickets/create" class="text-gray-600 hover:text-gray-800">Create Ticket</a></li>
        <li><a href="/tickets" class="text-gray-600 hover:text-gray-800">All Tickets</a></li>
        <li><a href="/tickets/open" class="text-gray-600 hover:text-gray-800">Open Tickets</a></li>
        <li><a href="/tickets/closed" class="text-gray-600 hover:text-gray-800">Closed Tickets</a></li>
      </ul>
    </div>

    <div class="container mx-auto content">
      {{{body}}}
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const token = localStorage.getItem('token');
        if (token) {
          document.getElementById('loginNavButton').style.display = 'none';
          document.getElementById('logoutNavButton').style.display = 'block';
        } else {
          document.getElementById('loginNavButton').style.display = 'block';
          document.getElementById('logoutNavButton').style.display = 'none';
        }
      });

      logout = () => {
        localStorage.removeItem('token');
        window.location.href = '/auth/login';
      }

      toggleSidebar = () => {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('-translate-x-full');
      }
    </script>
  </body>
</html>